body{
background-color: #818181;
}
:root {
  /* 🎨 Botoão primario */
  --btn-font: 'Oswald', sans-serif;
  --btn-font-size: 20px;
  --btn-margin: 15px 10px;
  --btn-radius: 12px;
  --btn-transition: 0.3s;
  --btn-width: 230px;
  --btn-height: 50px;
  --btn-border: none;


    /* 🎨 Botoão secundario */
  --btn2-width: 230px;
  --btn2-height: 50px;
  --btn2-margin: 30px 10px;
  --btn2-border: none;
  --btn2-radius: 12px;
  --btn2-font-size: 20px;
  --btn2-font-family: 'Oswald', sans-serif;
  --btn2-transition: 0.3s;
  --btn2-background-color: #001A4A;
  --btn2-COLOR:#f0f0f0;

      /* 🎨 Botoão quatro */
  --btn4-width: 230px;
  --btn4-height: 60px;
  --btn4-border: solid 1px, #f0f0f0;
  --btn4-radius: 12px ;
  --btn4-font-size: 20px;
  --btn4-font-family: 'Oswald', sans-serif;
  --btn4-transition: 0.3s;



  /* Cores principais */
  --btn-bg-primario: #001A4A;
  --btn-bg-primario-hover: #f0f0f0;
  --btn-text-primario: #f0f0f0;
  --btn-text-primario-hover: #000;

  --btn2-bg-secundario: #b32108;
  --btn2-bg-secundario-hover: #e4e4e4;
  --btn2-text-secundario: #f3f3f3;
  --btn2-text-secunadrio-hover:rgb(66, 66, 66);

  --btn4-bg-quarto: transparent ;
  --btn4-bg-quarto-hover: #e6b803;
  --btn4-text-quarto: white;
  --btn4-text-quarto-hover:#ececec;

}

/* @media screen (max()) {

} */

.btn-primario {
  font-family: var(--btn-font);
  font-size: var(--btn-font-size);
  border-radius: var(--btn-radius);
  width: var(--btn-width);
  height: var(--btn-height);
  border: var(--btn-border);
  background-color: var(--btn-bg-primario);
  color: var(--btn-bg-primario-hover);
  transition: var(--btn-transition);
  margin: var(--btn-margin);
  
}
.btn-primario:hover {
  background-color: var(--btn-bg-primario-hover);
  color: var(--btn-text-primario-hover);

}



.btn-secundario {

  font-family: var(--btn2-font-family);
  font-size: var(--btn2-font-size);
  margin: var(--btn2-margin);
  width: var(--btn2-width);
  height: var(--btn2-height);
  border: var(--btn2-border);
  border-radius: var(--btn2-radius);
  background-color: var(--btn2-bg-secundario);
  color: var(--btn2-text-secundario);
  transition: var(--btn2-transition);


}
.btn-secundario:hover {
  background-color: var(--btn2-bg-secundario-hover);
  color: var(--btn2-text-secunadrio-hover)
}


.btn-quatro{
  font-family: var(--btn4-font-family);
  font-size: var(--btn4-font-size);
  width: var(--btn4-width);
  height: var(--btn4-height);
  border: var(--btn4-border);
  border-radius: var(--btn4-radius);
  background-color: var(--btn4-bg-quarto);
  color: var(--btn4-text-quarto);
  transition: var(--btn4-transition);

}

.btn-quatro:hover {

  background-color: var(--btn4-bg-quarto-hover);
  color: var(--btn4-text-quarto-hover)
  
}
