body{
    background: #222;
    color: white;
    text-align: center;
    font-family: sans-serif;
}

.galeria{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.galeria img{
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.galeria img:hover{
    transform: scale(1.1);
}

.modal{
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

.mofal img{
    border-radius: 10px;
    max-width: 80%;
}

#close{
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 2rem;
    cursor: pointer;
}