body {
    font-family: Arial, Helvetica, sans-serif;
    background: #b3e5fc; /* azul claro */
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 2px solid #0288d1;
    border-radius: 5px;
    font-size: 1em;
    outline: none;
}

button {
    background-color: #0ca867;
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #02bd4a;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #f5f5f5;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
}

li button {
    margin-left: 8px;
    padding: 6px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn {
    background-color: #80605e; 
    color: white;
}

.complete-btn {
    background-color: #4caf50; 
    color: white;
}

.delete-btn:hover {
    background-color: #d32f2f;
}

.complete-btn:hover {
    background-color: #388e3c;
}
