body{
background-color: #212020;

}

:root {
  /* 🎨 Botoão primario */
  --btn-font: 'Oswald', sans-serif;
  --btn-font-size: 20px;
  --btn-radius: 12px;
  --btn-transition: 0.3s;
  --btn-width: 230px;
  --btn-height: 60px;
  --btn-border: none;


    /* 🎨 Botoão secundario */
  --btn2-width: 230px;
  --btn2-height: 60px;
  --btn2-border: none;
  --btn2-radius: 30px;
  --btn2-font-size: 20px;
  --btn2-font-family: 'Oswald', sans-serif;
  --btn2-transition: 0.3s;
  --btn2-background-color: #001A4A;
  --btn2-COLOR:#f0f0f0;

      /* 🎨 Botoão três */
  --btn3-width: 230px;
  --btn3-height: 60px;
  --btn3-border: none;
  --btn3-radius: 30px;
  --btn3-font-size: 20px;
  --btn3-font-family: 'Oswald', sans-serif;
  --btn3-transition: 0.3s;

      /* 🎨 Botoão quatro */
  --btn4-width: 230px;
  --btn4-height: 60px;
  --btn4-border: solid 1px, #f0f0f0;
  --btn4-radius: 30px ;
  --btn4-font-size: 20px;
  --btn4-font-family: 'Oswald', sans-serif;
  --btn4-transition: 0.3s;



  /* Cores principais */
  --btn-bg-primario: #001A4A;
  --btn-bg-primario-hover: #f0f0f0;
  --btn-text-primario: #f0f0f0;
  --btn-text-primario-hover: #000;

  --btn2-bg-secundario: #b32108;
  --btn2-bg-secundario-hover: #4d0c02;
  --btn2-text-secundario: #fff;


  --btn3-bg-terceiro: #e0e0e0;
  --btn3-bg-terceiro-hover: #b32108;
  --btn3-text-terceiro: #2c2c2c;
  --btn3-text-terceiro-hover:#ececec;


  --btn4-bg-quarto: transparent ;
  --btn4-bg-quarto-hover: #e6b803;
  --btn4-text-quarto: white;
  --btn4-text-quarto-hover:#ececec;

}




.btn-primario {
  font-family: var(--btn-font);
  font-size: var(--btn-font-size);
  border-radius: var(--btn-radius);
  width: var(--btn-width);
  height: var(--btn-height);
  border: var(--btn-border);
  background-color: var(--btn-bg-primario);
  color: var(--btn-bg-primario-hover);
  transition: var(--btn-transition);
  
}
.btn-primario:hover {
  background-color: var(--btn-bg-primario-hover);
  color: var(--btn-text-primario-hover);

}



.btn-secundario {

  font-family: var(--btn2-font-family);
  font-size: var(--btn2-font-size);
  width: var(--btn2-width);
  height: var(--btn2-height);
  border: var(--btn2-border);
  border-radius: var(--btn2-radius);
  background-color: var(--btn2-bg-secundario);
  color: var(--btn2-text-secundario);
  transition: var(--btn2-transition);


}
.btn-secundario:hover {
  background-color: var(--btn2-bg-secundario-hover)
}




.btn-tres {
  
  font-family: var(--btn3-font-family);
  font-size: var(--btn3-font-size);
  width: var(--btn3-width);
  height: var(--btn3-height);
  border: var(--btn3-border);
  border-radius: var(--btn3-radius);
  background-color: var(--btn3-bg-terceiro);
  color: var(--btn3-text-terceiro);
  transition: var(--btn3-transition);

}

.btn-tres:hover {
  background-color: var(--btn3-bg-terceiro-hover);
  color: var(--btn3-text-terceiro-hover)
  
}



.btn-quatro{
  font-family: var(--btn4-font-family);
  font-size: var(--btn4-font-size);
  width: var(--btn4-width);
  height: var(--btn4-height);
  border: var(--btn4-border);
  border-radius: var(--btn4-radius);
  background-color: var(--btn4-bg-quarto);
  color: var(--btn4-text-quarto);
  transition: var(--btn4-transition);

}

.btn-quatro:hover {
  
  background-color: var(--btn4-bg-quarto-hover);
  color: var(--btn4-text-quarto-hover)
  
}
