:root {
  /* 🎨 Botões */
  --btn-font: 'Oswald', sans-serif;
  --btn-font-size: 20px;
  --btn-radius: 12px;
  --btn-transition: 0.3s;

  /* Cores principais */
  --btn-bg-primario: #001A4A;
  --btn-bg-primario-hover: #f5f5f5;
  --btn-text-primario: #f0f0f0;
  --btn-text-primario-hover: #000;

  --btn-bg-secundario: #b32108;
  --btn-bg-secundario-hover: #8e1906;
  --btn-text-secundario: #fff;

  --btn-bg-alerta: #CF2923;
  --btn-text-alerta: #fff;
}






.btn-primario {
  background-color: var(--btn-bg-primario);
  color: var(--btn-text-primario);
  border-radius: var(--btn-radius);
  font-size: var(--btn-font-size);
  font-family: var(--btn-font);
}
.btn-primario:hover {
  background-color: var(--btn-bg-primario-hover);
  color: var(--btn-text-primario-hover);
}

.btn-secundario {
  background-color: var(--btn-bg-secundario);
  color: var(--btn-text-secundario);
  border-radius: 25px; 
}
.btn-secundario:hover {
  background-color: var(--btn-bg-secundario-hover);
}

.btn-alerta {
  background-color: var(--btn-bg-alerta);
  color: var(--btn-text-alerta);
  border-radius: 32px;
}
